
/* General */
body{
	font-family: 'Georgia', "Times New Roman", Times, serif;
	font-size: 100%;
	background-color: floralwhite;
}

h2{
	color: #FF5C33;
	font-size: 1.25 em;
}
h3{
	font-style: italic;
	font-size: 1 em;
}
p{
	font-size: .75 em;
}
/* Site Welcome Info */
.info{
	text-align: center;
	padding-bottom: 40px;
}

/* Articles */
article{
	border-top-style: dashed;
	border-color: lightgrey;
}

.articleContent p{
	text-indent: 4em;
}
aside{
	border-style: dashed;
	border-color: orangered;
	text-align: center;
}
/* Logo */
.site{
	font-family: Stencil, fantasy;
	text-align: center;
	font-size: 1.5 em;
}
.site a{
	color: orange;	
}

/* Navigation */
ul{
	list-style-type: none;
	height: 80px;
	width: 663px;
	margin: auto;
	
}
a{
	text-decoration: none;
}
ul a{
	padding-right: 40px;
	padding-left: 40px;
	line-height: 50px;
	font-size: 1 em;
	color: orange;
}

ul a:hover {
	text-decoration: underline
}

.button{
	float: left;
}

.active {
	font-weight: 900;
	font-family: Stencil, fantasy;
}

/* Heading */

/* ! still need to make heading visible when scrolling 
#heading{
	position: relative;
}
*/